In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
import scipy as sp

In [4]:
stackloss = sm.datasets.stackloss.load_pandas().data
stackloss.head()

   STACKLOSS  AIRFLOW  WATERTEMP  ACIDCONC
0       42.0     80.0       27.0      89.0
1       37.0     80.0       27.0      88.0
2       37.0     75.0       25.0      90.0
3       28.0     62.0       24.0      87.0
4       18.0     62.0       22.0      87.0

None